{
  "datacenter": "{{ consul_dc }}",
  "bind_addr": "{{ consul_bind }}",
  "advertise_addr": "{{ consul_advertise }}",
  "node_name": "{{ ansible_hostname }}",
  "rejoin_after_leave": true,
  "domain": "{{ consul_dns_domain }}",
  "recursors" : [ "8.8.8.8" ],
{% if consul_bootstrap_expect > 1 %}
  "retry_join": [ {{ consul_retry_join }} ],
{% endif %}
{% if consul_is_server %}
  "server": true,
  "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
  "data_dir": "/var/lib/consul",
  "ui_dir": "/usr/share/consul-ui",
  "disable_remote_exec": {{ consul_disable_remote_exec }}
}
